{
    "singleQuote": true,
    "tabWidth": 4,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid",
    "printWidth": 100,
    "endOfLine": "auto",
    "semi": true,
    "bracketSpacing": true,
    "trailingComma": "none"
}
